body {
    background-size: cover;
    width: 99vw;
    background: linear-gradient(to left,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%)
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content horizontally */
}

.contetnt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.pair{
    margin:auto
}
.pic {
    margin-left: auto;
    max-height: 50%;
    margin-top: 10px;
    border: 1px solid #ccc; /* Border around each image */
    border-radius: 8px; /* Rounded corners for the images */
    overflow: hidden; /* Hide overflow to prevent image overflow */
}

.pic img {
    width: 100%;
    height: auto;
}


.pic3{
    max-width: 0%;
}
